{% extends "base.html" %}
 
{% block page_title %}
    Banner Maker
{% endblock page_title %}
{% block page_headline %}
    <div class="col-xs-12"><h1 align="center">Change Dates</h1></div>
{% endblock page_headline %}


{% block content %}


{% load static %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet"  type = "text/css" href = "{% static 'css/changeDates.css' %}"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>


<title>Confirm</title>
</head>

<body >   
<div align="center" >
   <form method="POST">
   		{% csrf_token %} 
   		{{ cform }} 
   		<h1> {{ classname }} </h1>
        <input type="submit" value="Edit Dates" name ="Edit Class Button"> 
        <input type="submit" value="Quit" name ="Quit">       
   
   </form>
    <br>
    </div>  
   
</body>
<script>

</script>

</html>
{% endblock %}