{% load static %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet"  type = "text/css" href = "{% static 'admin/css/changeDates.css' %}" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>


<title>Confirm</title>
</head>

<body class = "content">   
<div>
   <form method="POST">
   		{% csrf_token %} 
   		{{ cform }} 
   		<h1> {{ classname }} </h1>
        <input type="submit" value="Give Extensions" name ="Give Extensions"> 
        <input type="submit" value="Quit" name ="Quit">       
   
   </form>
    <br>
    </div>  
   
</body>
<script>

</script>

</html>
