{% extends "base.html" %}
 
{% block page_title %}
    Banner Maker
{% endblock page_title %}
{% block page_headline %}
    <div class="col-xs-12"><h1 align="center">Change Dates</h1></div>
{% endblock page_headline %}


{% block content %}


{% load static %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet"  type = "text/css" href = "{% static 'css/changeDates.css' %}" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>


<title>Find</title>
</head>

<body >
<div body align="center" >
 <p> Go to the class who's dates you want to change.  Copy the URL and paste it into the box below.</p>  
<div>
    <form  method="POST">
    	{% csrf_token %}
        {{ form }}       
        <input type="submit" value="Load Class" name ="Find Class Button">   
        <br>
        {% if saved %}
        <h3 class = "saved">{{ saved }} </h3>
        {% endif %}  
        {% if error %}
        <h3 class = "error">{{ error }} <a href="https://pacs-help.outreach.ou.edu/">help desk</a></h3> 
        {% endif %}  
   </form >
   
</div>
</div>
</body>
<script>

</script>

</html>
{% endblock %}

