{% load static %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet"  type = "text/css" href = "{% static 'admin/css/changeDates.css' %}" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({
    	  dateFormat: "mm-dd-yy"
    });
});
</script>
<title>Save</title>
</head>
<body class = "content">  
   <div>  
    	<form method="POST">
    	<h1> {{ classname }} </h1>
    	<br> 
    		{% if message %}    		    		        
    		<p class = "error">{{ message }}</p> 
    		<br> 
    		{% endif %}
            {% csrf_token %}     	
		<br>
    				{{sForm}}
					{{aForm}}
    		<br><br>
    		<input type="submit" value="Next" name ="Load Date Button">
    		<input type="submit" value="Quit" name ="Quit"> 
    	</form>
    	<br> <br> <br> 

    </div> 
</body>
<script>

</script>

</html>
