{% extends "base.html" %}
 
{% block page_title %}
    Save
{% endblock page_title %}
{% block page_headline %}
    <div class="col-xs-12"><h1 align="center">Change Dates</h1></div>
{% endblock page_headline %}


{% block content %}


{% load static %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet"  type = "text/css" href ="{% static 'css/changeDates.css' %}" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({
    	  dateFormat: "mm-dd-yy"
    });
});
</script>
<title>Save</title>
</head>
<body >  
   <div align="center" >  
    	<form method="POST">
    	<h1> {{ classname }} </h1>
    	<br> 
    		{% if message %}    		    		        
    		<p class = "error">{{ message }}</p> 
    		<br> 
    		{% endif %}
            {% csrf_token %} 
    	<br> 
    		{{ table.management_form }}
            <table> 
            	<thead class = "grey-text">
            		<tr>
            			<th>Assignment Name</th>
            			<th>Start Date</th>
            			<th>Due Date</th>
            			<th>End Date</th>            		
            		</tr>            	
            	</thead>
            	<tbody> 
            	{% for t in table %}
            		<tr>
            			<td class = "grey-text">{{ t.id }} {{ t.assignment_name }}</td>
            			<td>{{ t.start_date }}</td>
            			<td>{{ t.due_date }}</td>
            			<td>{{ t.end_date }}</td> 
            		</tr>           	
            	{% endfor %}            	 
            	</tbody>         
    		</table> 
    		<br>
    		<input type="submit" value="Save Dates" name ="Save Dates Button">
    		<input type="submit" value="Quit" name ="Quit"> 
    	</form>
    	<br> <br> <br> 

    </div> 
</body>
<script>

</script>

</html>
{% endblock %}