<li class="{% if 'faculty_tools' in sidebar_group %}active{% endif %}">
    <a href="#" data-toggle="collapse" data-target="#faculty_tools_links" class="{% if 'faculty_tools' in sidebar_group %}collapsed{% endif %}" aria-expanded="true">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Faculty Tools<span class="caret"></span>
    </a>
    <ul id="faculty_tools_links" class="sidebar-items collapse {% if 'faculty_tools' in sidebar_group %}in{% endif %}" aria-expanded="true">
        <li><a href="https://syllabustracker.outreach.ou.edu/" target="_new"><i class="fas fa-crosshairs"></i>Syllabus Tracker</a></li>
		<li>{% include '_sidebar_item.html' with url='course_list' label='My Courses' icon='fas fa-chalkboard-teacher'%}</li>
		<li>{% include '_sidebar_item.html' with url='canvas_course_list' label='All Courses' icon='fas fa-school'%}</li>
    </ul>
</li>