{% extends "base.html" %}

{% block page_title %}
    Update Secondary Email
{% endblock page_title %}
{% block page_headline %}
    <div class="col-sm-4"><h1>Update Secondary Email</h1></div>
{% endblock page_headline %}

{% block content %}
<div style="padding-left: 700px !important; display:inline-block">
<form onSubmit="return exportF()" name="gcalc" style= "width:350px;">

Total <input type="integer" id="total" name="total" onKeydown="Javascript: if (event.keyCode==13) calc();">
<input type="button"  value="Calculate" OnClick="calc()" name="btn">

<table id="itable" style= "border: 1px solid #000000; border-collapse: collapse;">

<tbody>

<tr> 

<td style="width: 100px; font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><strong>Points</strong></td>

<td style="width: 60px; font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><strong>Grade</strong></td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><input id="a1" type="interger" name="a1" readonly> - <input id="a2" type="interger" name="a2" readonly> </td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">A</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><input id="b1" type="interger" name="b1" readonly> - <input id="b2" type="interger" name="b2" readonly> </td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">B</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><input id="c1" type="interger" name="c1" readonly> - <input id="c2" type="interger" name="c2" readonly></td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">C</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><input id="d1" type="interger" name="d1" readonly> - <input id="d2" type="interger" name="d2" readonly></td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">D</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><input id="f1" type="interger" name="f1" style="margin-left:6px;" readonly> or below.</td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">F</td>

</tr>
</tbody>
</table>


<input type="submit" value="Generate">



</form>

<a style="display: none" id="downloadLink"></a>
<button id="cpybtn" onclick="Javascript: copyToClipboard()">Copy HTML</button>
</div>

<!--<button onClick="ClipBoard();">Copy to Clipboard</button>-->

<div id="copy" style= "display: none">

<table id="gtable" name="gtable" style= "border: 1px solid #000000; border-collapse: collapse;">
<tbody>

<tr> 

<td style="width: 100px; font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><strong>Points</strong></td>

<td style="width: 60px; font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><strong>Grade</strong></td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><span id="sa1"></span> - <span id="sa2"></span> </td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">A</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><span id="sb1"></span> - <span id="sb2"></span> </td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">B</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><span id="sc1"></span> - <span id="sc2"></span></td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">C</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><span id="sd1"></span> - <span id="sd2"></span></td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">D</td>

</tr>

<tr>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;"><span id="sf1"></span> or below.</td>

<td style="font-family: 'times new roman', times, serif; font-size: 12pt; text-align: center;">F</td>

</tr>
</tbody>
</table>

</div>



<!--<textarea id="holdtext" style="display: none;"></textarea>-->

<script>
function calc(){
document.gcalc.a1.value = Math.round(document.gcalc.total.value * 0.9);
document.gcalc.a2.value = Math.round(document.gcalc.total.value);
document.gcalc.b1.value = Math.round(document.gcalc.total.value * 0.8);	
document.gcalc.b2.value = Math.round(document.gcalc.a1.value - 1);	
document.gcalc.c1.value = Math.round(document.gcalc.total.value * 0.7);	
document.gcalc.c2.value = Math.round(document.gcalc.b1.value - 1);	
document.gcalc.d1.value = Math.round(document.gcalc.total.value * 0.6);	
document.gcalc.d2.value = Math.round(document.gcalc.c1.value - 1);	
document.gcalc.f1.value = Math.round(document.gcalc.d1.value - 1);	
	
	
}


function exportF() {
  //Format your table with form data
  document.getElementById("sa1").innerHTML = document.getElementById("a1").value;
  document.getElementById("sa2").innerHTML = document.getElementById("a2").value;
  document.getElementById("sb1").innerHTML = document.getElementById("b1").value;
  document.getElementById("sb2").innerHTML = document.getElementById("b2").value;
  document.getElementById("sc1").innerHTML = document.getElementById("c1").value;
  document.getElementById("sc2").innerHTML = document.getElementById("c2").value;
  document.getElementById("sd1").innerHTML = document.getElementById("d1").value;
  document.getElementById("sd2").innerHTML = document.getElementById("d2").value;
  document.getElementById("sf1").innerHTML = document.getElementById("f1").value;

 // var table= document.getElementById("gtable");
 // var html = table.outerHTML;

//  var url='data:application/vnd.text,' + escape(html) ; // Set your html table into url 
//  var link = document.getElementById("downloadLink"); 
//  link.setAttribute("href", url);
//  link.setAttribute("download", "export.txt"); // Choose the file name
//  link.click(); // Download your excel file   
 
  return false;
}


   function copyToClipboard() {
    window.prompt("Copy to clipboard: Ctrl+C, Enter", document.getElementById('copy').innerHTML);
  }


</script>





</div>
{% endblock %}