{% extends "base.html" %}

{% block page_title %}
    Update Secondary Email
{% endblock page_title %}
{% block page_headline %}
    <div class="col-sm-4"><h1>Update Secondary Email</h1></div>
{% endblock page_headline %}

{% block content %}
    <form action="{% url 'secondary_email_change' %}" method="POST">
        {% csrf_token %}
		<span class="required-warning">*</span> - indicates a required field.
        {% include 'render_form.html' %}
		<div class="row submit-content">
			<div class="col-sm-12" style="text-align: center">
				<button type="submit" name="submit" class="btn btn-default action">
					<i class="glyphicon glyphicon-floppy-disk"></i> Save
		       </button>
			</div>
		</div>
    </form>
{% endblock %}