{% extends "base.html" %}

{% block page_title %}
    New Course Requests
{% endblock page_title %}
{% block page_headline %}
 <div class="col-xs-12"><h1 align="center">Acceptance Declarations</h1></div>


{% endblock page_headline %}

{% block content %}
<div>

	<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRjhJob2fOGyIxC1AfPkh2wSNhodUhf4QSzHkophO082D3lUshvUU-ALey85udxFqdoZK4qGeyEAZ3K/pubhtml?gid=445899148&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

	<br>
	<div class="dashboard_box">
		<a class="btn-primary" href="https://drive.google.com/open?id=1tm7vJa8OMC6ZhZFoi0NiowWHyS8syDoPryobk4yWEu8" target="_new">Go to sheet</a>
	</div>
</div>
{% endblock %}
