{% extends "base.html" %}

{% block page_title %}
    New Course Requests
{% endblock page_title %}
{% block page_headline %}
 <div class="col-xs-12"><h1 align="center">New Course Requests</h1></div>


{% endblock page_headline %}

{% block content %}
<div>

	<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRx1p1PSzlcSCChUGi1Gvv-L_roN8Yd8u2oe3EEJ9qltPehPtAb-4zQPp5GxfY45TH3LXyhZGCXeJ4s/pubhtml?gid=354571141&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
	
	<div class="dashboard_box">
		<a class="btn-primary" href="https://drive.google.com/open?id=1iEiaF8oGhoaoOVO3e_zKJfretaAWer16FC6UcqeM26E" target="_new">Go to sheet</a>
	</div>
	
</div>
{% endblock %}
