{% extends "base.html" %}

{% block page_title %}
    New Course Requests
{% endblock page_title %}
{% block page_headline %}
 <div class="col-xs-12"><h1 align="center">Re-develop Course Requests</h1></div>


{% endblock page_headline %}

{% block content %}
<div>

	<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQMun6RQ4JcxTRVh-ZR4vel6afAcGa0KvgGZEGjZXIxtjjzcjsvMDbyA_AYB5umDsOQeNdseUVYgb1R/pubhtml?gid=485403148&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
	
	<div class="dashboard_box">
		<a class="btn-primary" href="https://drive.google.com/open?id=1_G2EVjsk3i8-tPqiu8ijiGnQBBAkRocAZ_CvNcw6-WI" target="_new">Go to sheet</a>
	</div>
	
</div>
{% endblock %}
