{% extends "base.html" %}

{% block page_title %}
    New Course Requests
{% endblock page_title %}
{% block page_headline %}
 <div class="col-xs-12"><h1 align="center">Revise Course Requests</h1></div>


{% endblock page_headline %}

{% block content %}
<div>

	<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT70R1X6EzUESUYHIbY5pN5AtAMovO0FuQ5zYMydWweYwkoMX2WXwG_azM1aiP18kMytSyHBzLO5Blp/pubhtml?gid=796417263&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
	
	<div class="dashboard_box">
		<a class="btn-primary" href="https://drive.google.com/open?id=1WyDV7BSOz_LT70JmELeTo1mMOrkY_Dzt45wkI7IXfkA" target="_new">Go to sheet</a>
	</div>
	
</div>
{% endblock %}
