{% extends "base.html" %}

{% block page_title %}
    New Course Requests
{% endblock page_title %}
{% block page_headline %}
 <div class="col-xs-12"><h1 align="center">Textbook Change Requests</h1></div>


{% endblock page_headline %}

{% block content %}
<div>

	<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTT_fg61Hg2Hlh3PnmQuBNFZbMN6e0XQMsHo8I_rCOZsdStHaLbtgcpcBic8R9Y54J90ahl6EGfRKxV/pubhtml?widget=true&amp;headers=false"></iframe>
	
	<div class="dashboard_box">
		<a class="btn-primary" href="https://drive.google.com/open?id=1v8DhFqDqQ1OoI5LAIxxTY88-mlFdXywuZ48PkgKRkrw" target="_new">Go to sheet</a>
	</div>
	
</div>
{% endblock %}
