th:not(:first-child), td:not(:first-child) {

    text-align: left;
}

td {

    vertical-align: top !important;
}

.atable {
	
	width: 60%;
	float: left; 
	padding: 3px; 
}

iframe {
	
	width: 40%; 
	float: right; 
	padding: 0px;
	frameborder: 0;
	scrolling: no;
	
}

.general {
	
	background-color: #ffffff;	
		
}

.curriculum {
	
	background-color: #ffffff;
		
} 

.aviation {
	
	background-color: #aeaca7;
		
} 

.leadership {
	
	background-color: #c99c9c;	
		
} 

.criminal {
	
	background-color: #95a6bb;
		
} 

.human {
	
	background-color: #a4bcce;
		
} 

.integrative {
	
	background-color: #edcc9d;
		
} 

.affiliated {
	
	background-color: #af95ad;
		
} 

.english {
	
	background-color: #e9e6d9;
		
} 

.lifelong {
	
	background-color: #9db1a1;
		
}

td:nth-child(6){
	
	display: none;
	
}

.col-sm-1{

	display: none !important;
	
}

.announcement_tr td:first-child {
	max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.announcement_tr td:nth-child(2) {
	max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}