{% extends "base.html" %}

{% block page_title %}
    Dashboard
{% endblock page_title %}
{% block page_headline %}
 <div class="col-xs-12"><h1 align="center">PACS {% if user.is_authenticated %}	AT	{% else %} Faculty	{% endif %} Dashboard</h1></div>
{% endblock page_headline %}


{% block content %}
<div>
 

	<div class="dashboard_box">
		<h2>Pre-Course Tools</h2>
		

		<div class="external_tool_box">
			<a href="https://docs.google.com/forms/d/1bFvR9WvNbj8opAHq2U-1Ku15GZsJIJkkcyFDPM2YknM/viewform" target="_new">
				<img src="static/img/newcourse.png" alt="" class="icon">
			</a>
			<br>
			<p>Create a New Course</p>
		</div>

		<div class="external_tool_box">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdrg3C_moGFxTHccvTo7fO68Ze7dXie5MCR0tt-DYzf8Cmhvg/viewform" target="_new">
				<img src="static/img/revise.png" alt="" class="icon">
			</a>
			<br>
			<p>Revise a Current Course</p>
		</div>

		<div class="external_tool_box">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdqionCeQrsfUBZBfAnf_WbZtM4VmYkFaUKBT_dGpoEQqhelQ/viewform" target="_new">
				<img src="static/img/revise.png" alt="" class="icon">
			</a>
			<br>
			<p>Re-develop a Course</p>
		</div>

		
		<div class="external_tool_box">
			<a href="https://docs.google.com/forms/d/1B3x0magTRBzZfY1V4TebXCMo7ObQNVCB7AfFdJbkiXU/viewform" target="_new">
				<img src="static/img/book.png" alt="" class="icon">
			</a>
			<br>
			<p>Textbook Change in Course</p>
		</div>
        
		<div class="external_tool_box">
			<a href="https://drive.google.com/open?id=0B_RxBaBMYxt8R19hY3dtaEpFTlE" target="_new">
				<img src="static/img/check.png" alt="" class="icon">
			</a>
			<br>
			<p>Checklist for Upcoming Term</p>
		</div>        
       	
		<div class="external_tool_box">
			<a href="https://drive.google.com/open?id=1bkaOMEhmxOR4AkYPOpWKF1_x6tm10bQ5niQ0ILQEWTM" target="_new">
				<img src="static/img/sylabus.png" alt="" class="icon">
			</a>
			<br>
			<p>Rubrics Template</p>
		</div>    
       	
       	
       	
		{% if user.is_authenticated %}
		<div class="external_tool_box">
			<a href="https://docs.google.com/forms/d/1fYX4h-LEuKAIiPACfv6a-VSFy9EHwOWpHmBzKakpIsw/viewform" target="_new">
				<img src="static/img/check.png" alt="" class="icon">
			</a>
			<br>
			<p>Acceptance Declaration</p>
		</div>     
		{% endif %}
       		
		{% if user.is_authenticated %}
         <div class="external_tool_box">
			<a href="https://salsa.outreach.ou.edu/SALSA/new" target="_new">
				<img src="static/img/sylabus.png" alt="" class="icon">
			</a>
			<br>
			<p>Salsa</p>
		</div>
		{% endif %}
		
		
		<div class="external_tool_box">
			<a href="https://sites.google.com/view/ou-pacs-faculty/home" target="_new">
				<img src="static/img/book.png" alt="" class="icon">
			</a>
			<br>
			<p>Faculty Guides & Procedures</p>
		</div>
		
		<div class="external_tool_box">
			<a href="https://sites.google.com/view/oer-pacs/home" target="_new">
				<img src="static/img/book.png" alt="" class="icon">
			</a>
			<br>
			<p>Open Educational Resources</p>
		</div>
        
        
        <div class="external_tool_box">
			<a href="https://sites.google.com/view/pacs-ipeds/home" target="_new">
				<img src="static/img/laptop-23.png" alt="" class="icon">
			</a>
			<br>
			<p>US Ed IPEDS</p>
		</div>
		
	</div>



	<div class="dashboard_box">
		<h2>Course Tools</h2>

		<div class="external_tool_box">
			<a href="https://calendar.google.com/calendar/embed?src=ouclsat%40gmail.com&ctz=America/Chicago" target="_new">
				<img src="static/img/check.png" alt="" class="icon">
			</a>
			<br>
			<p>PACS Calendar</p>
		</div>

		<div class="external_tool_box">
			<a href="https://pacs-help.outreach.ou.edu/" target="_new">
				<img src="static/img/help-2.png" alt="" class="icon">
			</a>
			<br>
			<p>Report a problem with Canvas</p>
		</div>
        
		{% if user.is_authenticated %}
        <div class="external_tool_box">
			<a href="https://syllabustracker.outreach.ou.edu/" target="_new">
				<img src="static/img/sylabusTrak.png" alt="" class="icon">
			</a>
			<br>
			<p>Syllabus Tracker</p>
		</div>
		{% endif %}
		
		{% if user.is_authenticated %}
        <div class="external_tool_box">
			<a href="https://syllabustracker.outreach.ou.edu/pp" target="_new">
				<img src="static/img/sylabusTrak.png" alt="" class="icon">
			</a>
			<br>
			<p>Syllabus Tracker (PP)</p>
		</div>
		{% endif %}

	</div>

<!-- 
	<div class="dashboard_box">
		<h2>Post Course Tools</h2>

		<div class="external_tool_box">
			<a href="https://docs.google.com/forms/d/1bFvR9WvNbj8opAHq2U-1Ku15GZsJIJkkcyFDPM2YknM/edit" target="_new">
				<img src="static/img/incomplete.png" alt="" class="icon">
			</a>
			<br>
			<p>Incomplete for student</p>
		</div>

	</div>
 -->


</div>
{% endblock %}