<li class="{% if 'resources' in sidebar_group %}active{% endif %}">
    <a href="#" data-toggle="collapse" data-target="#resource_links" class="{% if 'profiles' in sidebar_group %}collapsed{% endif %}" aria-expanded="true">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Resources<span class="caret"></span>
    </a>
    <ul id="resource_links" class="sidebar-items collapse {% if 'resources' in sidebar_group %}in{% endif %}" aria-expanded="true">
        <li class ="calculator">{% include '_sidebar_item.html' with url='grade_calculator' label='Grade Calculator'%}</li>
        <li class ="unit4">{% include '_sidebar_item_arg.html' with url='course_schedule' label='Course Schedule 4 Units' combined_url='course_schedule4' arg1=4%}</li>
        <li class ="unit8">{% include '_sidebar_item_arg.html' with url='course_schedule' label='Course Schedule 8 Units' combined_url='course_schedule8' arg1=8%}</li>
        <li class ="button">{% include '_sidebar_item.html' with url='crop_tool' label='Crop tool'%}</li>
        <li class ="button">{% include '_sidebar_item.html' with url='button_maker' label='Button maker'%}</li>
        <li class ="banner">{% include '_sidebar_item.html' with url='banner_maker' label='Banner maker'%}</li>
        <li class ="new">{% include '_sidebar_item.html' with url='course_change_request' label='Course Change Request'%}</li>
        <li class ="db">{% include '_sidebar_item.html' with url='course_data' label='Course Data'%}</li>
        
    </ul>
</li>