<li class="{% if 'resources' in sidebar_group %}active{% endif %}">
    <a href="#" data-toggle="collapse" data-target="#resource_links" class="{% if 'profiles' in sidebar_group %}collapsed{% endif %}" aria-expanded="true">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Resources<span class="caret"></span>
    </a>
    <ul id="resource_links" class="sidebar-items collapse {% if 'resources' in sidebar_group %}in{% endif %}" aria-expanded="true">
        <li class ="crop">{% include '_sidebar_item.html' with url='crop_tool' label='Crop tool'%}</li>
        <li class ="button">{% include '_sidebar_item.html' with url='button_maker' label='Button Maker'%}</li>
        <li class ="banner">{% include '_sidebar_item.html' with url='banner_maker' label='Banner Maker'%}</li>
    </ul>
</li>