<li class="{% if 'faculty_resources' in sidebar_group %}active{% endif %}">
    <a href="#" data-toggle="collapse" data-target="#faculty_resources_links" class="{% if 'faculty_resources' in sidebar_group %}collapsed{% endif %}" aria-expanded="true">
        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Faculty Resources<span class="caret"></span>
    </a>
    <ul id="faculty_resources_links" class="sidebar-items collapse {% if 'faculty_resources' in sidebar_group %}in{% endif %}" aria-expanded="true">
        <li><a href="https://drive.google.com/open?id=0B_RxBaBMYxt8R19hY3dtaEpFTlE" target="_new"><i class="fas fa-tasks"></i>Upcoming Term Checklist</a></li>
        <li><a href="https://drive.google.com/open?id=1bkaOMEhmxOR4AkYPOpWKF1_x6tm10bQ5niQ0ILQEWTM" target="_new"><i class="fas fa-columns"></i>Rubrics Template</a></li>
        <li><a href="https://sites.google.com/view/oer-pacs/home" target="_new"><i class="fas fa-book"></i>Open Educational &nbsp;&nbsp;&nbsp;&nbsp;Resources</a></li>
        <li><a href="https://datausa.io/" target="_new"><i class="fas fa-hdd"></i>US Ed IPEDS</a></li>
        <li><a href="https://icontracts.outreach.ou.edu" target="_new"><i class="fas fa-file-code"></i>I-Contracts</a></li>
    </ul>
</li>