<li class="{% if 'faculty_resources' in sidebar_group %}active{% endif %}">
    <a href="#" data-toggle="collapse" data-target="#faculty_resources_links" class="{% if 'faculty_resources' in sidebar_group %}collapsed{% endif %}" aria-expanded="true">
        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Faculty Resources<span class="caret"></span>
    </a>
    <ul id="faculty_resources_links" class="sidebar-items collapse {% if 'faculty_resources' in sidebar_group %}in{% endif %}" aria-expanded="true">
        <li><a href="https://sites.google.com/view/oer-pacs/home" target="_new"><i class="fas fa-book"></i>Open Educational &nbsp;&nbsp;&nbsp;&nbsp;Resources</a></li>
        <li><a href="https://nces.ed.gov/ipeds/" target="_new"><i class="fas fa-hdd"></i>US Ed IPEDS</a></li>
    </ul>
</li>